<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>UNIPORT_ID</title>
        {% block title %}{% endblock title %}
        <div class="container">
         <h1 class="border border-black text-bg-secondary text-center py-1 mx-auto mb-2 rounded-pill" 
         style="width: 450px;">
            Uniport-id Retrieval</h1>
        </div>
    </head>

    <body >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">
        <header>
        </header>

        <article> 
            <div class="h4 bg-info-subtle text-center py-2 mx-auto p-3 ">
                This website is for retrieving the uniport ids of each
                protein chains in a PDB id entry.
            </div>

            <!-- Here write the contents for other html page -->
            {% block content %} {% endblock content %}
        </article>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>