<!Doctype>
<html lang='eng'>
    <head>
    <title>UNIPORT_ID</title>
        {% block title %}
        
        {% endblock title %}

    </head>
    <body>
    <header>
        <nav>
            <ul>
            <li>HOME</li>
            <li>About</li>
            <li>Contact</li>
            </ul>
        </nav>
    </header>
        <div>
            <h3>Hello it a new page!</h3>
            <p>It is showing the <strong>UNiport </strong> 
                                                id of the page </p>
            <p style ="color:RED;">It takes <small>PDB id </small> as a input </p>
        </div>

        <div>
            {% block content %} {% endblock content %}
        </div>


    </body>
</html>