{% extends "base.html" %} 

{% block title %}
<h1>Home</h1>
{% endblock title %}
{% block content %}
<div>
    <form action=# method="post">
        <label for="username"> Enter PDB id <label>
        <input type="text" id="username" name="nam"> 
        <br>    
        <br>  
        <label for="biometric">Multiple PDB ids </label><br>
        <textarea name="biometric" id="biometric" cols='30' rows="10" placeholder="Enter pdb as">
        </textarea><br><br>
               
        <input type="submit" id= "submit" name ="submit">
    </form>
</div>

{% endblock content %}