{% extends "base.html" %} 

{% block title %}

    <link rel="stylesheet" type="text/css" href="static\style.css">

{% endblock title %}

{% block content %}
    <div class="container py-3">
        <form action="#" method="post">
            <div class="form-floating">
                <textarea placeholder="Enter the PDB ids here:" id="floatingTextarea" name="floatingTextarea" 
                class="form-control" style="height: 150px; width:600px" ></textarea>
                <label for="floatingTextarea">Enter PDB ids:</label>
                <br>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}