{% extends "base.html" %} 

{% block content %}
    <div class="container">
        <h3 class="display-6 fw-bold lh-3">Results :</h3>
    </div>
    <div class="container">
        <table class="table table-secondary table-sm">
            <caption>List of Uniport entries.</caption>
            <thead class="table-dark">
                <tr>
                <th scope="col">PDBid</th>
                <th scope="col">Chain</th>
                <th scope="col">Uniport</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" >
                    {% for values in uniport_id%}
                        {% for key, value in values.items() %}
                            {% for i,j in value.items()%}
                            <tr class="table-striped ">
                                <td>  {{key}} </td>
                                <td> 
                                    {% for k in i %}
                                        <span>{{k}}</span>
                                        
                                    {% endfor %}
                                </td>
                                <td> {{j}} </td>    
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
